<section class="intro">
  <div class="container">
    <p class="lead">Hello! I'm Deeptadeep Roy. Full Stack Professional at Infosys with strong knowledge of Angular JS and Java. <br>
      For 3+ years, I have writen clean, efficient code that has led to saved time and improved workflow for users. <br> Welcome to my portfolio!</p>
    <p class="lead">Check out my <a href="https://github.com/deeptadeeproy">Github</a>.</p>
    <p class="lead">Here is my <a href="https://deeptadeep-roy.jimdosite.com">iOS portfolio</a>.</p>
    <p class="lead">Or see my <a href="https://deeptadeeproy.github.io/COVID-19-Tracker-India/">COVID-19 project</a>.</p>
    <p class="lead">You can also connect with me on <a href="https://www.linkedin.com/in/deeptadeeproy/">LinkedIn</a>.</p>
  </div>
</section>
