@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300..700&display=swap');
/* Reset default margin and padding */
body,
html {
    font-family: "Overpass Mono", monospace;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
}

/* Set the background color to black */
body {
    background-color: black;
    color: white;
    /* Optional: to make text visible against the black background */
}

.app-div {
    height: auto;
    width: auto;
}

.main-router-nav {
    height: 100vh;
}

.nav-bar {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    text-align: center;
    align-items: center;
    width: 100vw;
    height: 10vh;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0);
    position: fixed;
}

.nav-bar a {
    cursor: pointer;
    text-decoration: none;
    color: grey;
    font-size: larger;
}

.nav-bar a:hover {
    color: rgba(242, 196, 118, 0.9);
}

.footer {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: transparent;
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer div {
    margin-right: 20px;
}


.mail-btn {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    padding: 0 0 0 30px;
    color: rgba(255, 255, 255, 0.75);
    gap: 8px;
    cursor: pointer;
    align-items: center;
}

.mail-btn:hover {
    color: rgba(242, 196, 118, 0.9);
}

.mail-btn p {
    margin-bottom: 11px;
}

.mail-icon {
    height: 24px;
    width: 35px;
}

.content-div {
    width: 100vw;
    color: grey;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.container-div {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 80%;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.intro-div {
    padding: 0 50px 0;
    justify-content: center;
    width: 50%;
}

@media (orientation: portrait) {
    .intro-div {
        width: 80%;
    }

    .container-div {
        width: 100%;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .intro-home {
        width: 80%;
    }

    .advantages-div {
        flex-direction: column !important;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 50vh;
    }

    .advantage-box {
        height: 15vh !important;
        width: 40vh !important;
    }

    .contact-block {
        display: flex;
        flex-direction: column !important;
        justify-content: space-around;
        height: 40vh;
    }

    .contact-block form {
        width: 100% !important;
    }

    .intro-skills {
        width: 80% !important;
    }

    .particle-sphere {
        height: 70% !important;
    }

}

.intro-skills {
    width: 100%;
    height: 95%
}

.intro-div p {
    color: rgba(255, 255, 255, 0.6);
}

.intro-div h1 {
    font-weight: 500;
}

.download-btn {
    height: 40px;
    width: 175px;
    font-family: "Space Mono", monospace;
    color: white;
    background-color: transparent;
    border: 2px;
    display: flex;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    align-items: center;
    justify-content: center;
    transition: box-shadow 0.3s ease;
    cursor: pointer;
}

.download-btn:hover {
    box-shadow: 0 4px 100px rgba(126, 109, 79, 0.5);
    color: black;
    background-color: rgba(242, 196, 118, 0.9);
}

/* For Particle sphere */

.particle-sphere {
    z-index: -100;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* End Particle Sphere Styling */

.socialLinkImg {
    height: 36px;
    width: 36px;
    margin-right: 15px;
    float: right;
    border-color: black;
}

/* Mysterious aura */

.aura {
    background: radial-gradient(circle,
            rgba(231, 180, 84, 0.2) 0%,
            rgba(153, 112, 255, 0) 66%);
}

.app-content {
    z-index: 1;
    /* Ensure content is above the aura */
}

/* End aura */

.adv-ul li {
    color: rgb(220, 217, 217);
    font-size: 14px;
}

.advantages-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.advantage-box {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    height: 30vh;
    width: 25vw;
}

.advantage-box img {
    height: 32px;
    width: 32px;
}

.advantage-box p {
    text-align: center;
    font-size: 14px;
    color: rgba(220, 217, 217, 0.6);
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 0;
}

.advantage-box h4 {
    font-weight: 500;
    margin-bottom: 0;
}

.skill-icon {
    scale: 0.66;
}

.contact-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.contact-content {
    flex-direction: column;
    display: flex;
    height: 65vh;
    width: 82.5vw;
}

.contact-content p {
    color: rgba(255, 255, 255, 0.6);
}

.contact-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact-block h4 {
    font-weight: 500;
}

.contact-block form {
    width: 40%;
    display: flex;
    margin-top: 10px;
    flex-direction: column;
}

.contact-block label {
    color: #bababa;
}

.form-group {
    display: grid;
    position: relative;
    margin-bottom: 30px;
}

.form-group input,
.form-group textarea {
    justify-self: right;
    width: 95%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-color: white;
    background-color: transparent;
    outline: none;
    border-width: 0 0 1px 0;
    color: whitesmoke;
    resize: none;
}

.form-group label {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 16px;
    color: #bababa;
    pointer-events: none;
    transition: all 0.2s;
}

.form-group input:focus+label,
.form-group input:not(:placeholder-shown)+label,
.form-group textarea:focus+label,
.form-group textarea:not(:placeholder-shown)+label {
    top: -17.5px;
    left: 10px;
    font-size: 14px;
    color: #bababa;
}

.whatsapp-qr {
    height: 50%;
}